<div class="container">

    <div class="row">
    
    <div class="col-md-12 offset-md-0">
    
    <div class="card border-0 shadow-sm my-4">
    
    <div class="card-body">
    
    <h3>All Students</h3>

 

  <table style="margin-bottom: 50px;" class=" table table-responsive table-striped  border-dark">

    <thead class="table-dark ">
        <tr>
            <th>Id</th>
            <th>NAME</th>            
            <th>Email</th>

            <th>Enrolled Courses</th>

            <!-- <th>Profile</th>  -->
            <th>Date of Birth</th>
            <th>Actions</th>
        </tr>

    </thead> 


    <tbody>
        <tr *ngFor = "let student of students">
            <td>{{student.student_id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
            <td>{{ student.numberOfCourses || '0' }}</td>
            <!-- <td>{{ studentCourses(student.student_id) }}</td> -->

            <!-- <td>{{student.profile.biodata}} years old</td> -->
            <td>{{student.dateOfBirth}}</td>
            <td>
                <button [routerLink]="['/update',student.student_id]" class = "btn  btn-secondary btn-sm"> Update</button>
                <button (click) = "deleteStudent(student.student_id)" class = "btn btn-danger btn-sm" style="margin-left: 10px"> Delete</button>
                <!-- <button (click) = "detailsOfStudent(student.student_id)" class = "btn btn-success btn-sm " style="margin-left: 10px"> View</button> -->
                <button [routerLink]="['/enroll-student',student.student_id]" class = "btn  btn-secondary btn-sm " style="margin-left: 10px">Enroll Course</button>

              </td>
        </tr>
        <br>
        <tr align="text-center">
            <button [routerLink]="['/add']" class = "btn  btn-primary btn-sm " > Add New Student</button> 
        </tr>
    </tbody>


</table>


    </div>
    
    </div>
    
    </div>
    
    </div>
    
    </div>